/* css/style.css */
/* Ajustes para el sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Detrás del navbar */
  padding: 48px 0 0; /* Espacio para el navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem; /* Ajuste para el navbar en móviles */
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Desplazamiento si el contenido es largo */
}

/* Ajustes para el contenido principal */
main {
    padding-top: 5rem; /* Espacio para el navbar fijo */
}

@media (min-width: 768px) {
    main {
        margin-left: 210px; /* Ajuste para el sidebar */
    }
}