/* Puedes añadir tus estilos personalizados aquí */

.sidebar {
    position: fixed; /* O sticky, dependiendo del comportamiento deseado */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Detrás del navbar */
    padding: 48px 0 0; /* Padding superior para no chocar con el navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #f8f9fa; /* Color de fondo claro */
    width: inherit; /* Hereda el ancho de la columna Bootstrap */
}

/* Ajuste para el contenido principal para que no quede debajo del sidebar */
@media (min-width: 768px) {
    .col-md-9 {
        margin-left: auto !important; /* Mueve el contenido principal a la derecha del sidebar */
    }
}